server:
  port: ${SERVER_PORT:8000}
  servlet:
    context-path: /auth_service
grpc:
  server:
    port: ${GRPC_PORT:9000} # grpc://localhost:9000 static://localhost:9000
spring:
  jpa:
    open-in-view: false
  application:
    name: ${APPLICATION_NAME:@project.artifactId@} # @project.name@ @project.version@ @project.artifactId@
  security:
    user:
      name: user
      password: E2$s3U07L#wu
  main:
    allow-bean-definition-overriding: true
token:
  secret: jtgLdUg80hwnaklzvG6P9qoOit5yryHt
  time: 432000 # seconds
aes_secret_key: iXlCmp4pcEZ2YBUqfelapUH2wGRDDSar
springdoc:
  swagger-ui:
    path: /swagger-ui.html
security:
  enable: false
mysql:
  url: ${MYSQL_DB_URL:jdbc:mysql://0.tcp.ap.ngrok.io:13545/hugio_user_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false}
  username: ${MYSQL_DB_USERNAME:root}
  password: ${MYSQL_DB_PASSWORD:123456}
  driver_class_name: com.mysql.cj.jdbc.Driver
  ddl_auto: update
  #  dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  dialect: org.hibernate.dialect.MySQLDialect
  show_sql: false
management:
  #endpoints:
  #  web:
  #    exposure:
  #      include: prometheus
  tracing:
    sampling:
      probability: '1.0'
  #metrics:
  #  distribution:
  #    percentiles-histogram:
  #      http:
  #        server:
  #          requests: 'true'
